{% extends "html/layout.html" %}

{% block title %}
    Formation - Parcours Learning Engineer - Stackoverflow questions - générateur de tags
{% endblock %}

{% block content %}
    <!-- Content -->
    <!-- Layout Demo -->
    <div class="layout-demo-wrapper">
        <div class="layout-demo-placeholder" style="max-width: 900px; width: 900px;">

            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Accueil/</span> Questions</h4>

            <p class="fs-caption fc-black-400 text-right" style="text-align: right;">Champs obligatoires <abbr class="text-danger" title="requis"> * </abbr></p>

            <!-- Basic Layout -->
            <div class="row">
                <div class="col-xl">
                    <div class="card mb-12">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">Tags : Recommandation</h5>
                            <small class="text-muted float-end">Poser une question et obtenir des tags</small>
                        </div>
                        <div class="card-body">
                            {% if errors %}
                                <div class="alert alert-danger" role="alert">
                                    <ul>
                                        {% for error in errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            <form method="POST" action="/questions/tags">
                                <div class="mb-3">
                                    <label class="form-label" for="basic-icon-default-title">Titre <span
                                            class="text-danger">*</span>
                                        <p class="mb-0">Soyez précis et imaginez que vous posez une question à une autre personne.</p>
                                    </label>
                                    <div class="input-group input-group-merge">
                            <span id="basic-icon-default-title" class="input-group-text"
                            ><i class="bx bx-edit-alt"></i
                            ></span>
                                        <input
                                                type="text"
                                                class="form-control {% if errors.title %}is-invalid{% endif %}"
                                                id="basic-icon-default-title"
                                                name="title"
                                                placeholder="par exemple Existe-t-il une fonction R pour trouver l'index d'un élément dans un vecteur ?"
                                                aria-label="Entrez le titre de votre demande"
                                                aria-describedby="basic-icon-default-title"
                                                autofocus
                                                value="{{ title | default('') }}"
                                        />
                                        {% if errors.title %}
                                            <div class="invalid-feedback">
                                                {{ errors.title }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-icon-default-message">Corps <span
                                            class="text-danger">*</span>
                                        <p class="mb-0"><small>Incluez toutes les informations dont quelqu'un aurait besoin pour répondre à votre question.</small></p>
                                    </label>
                                    <textarea
                                            id="basic-icon-default-message"
                                            name="body"
                                            class="form-control {% if errors.body %}is-invalid{% endif %}"
                                            aria-label="Entrez la description de votre demande"
                                            aria-describedby="basic-icon-default-body"
                                    >{{ body | default('') }}</textarea>
                                    {% if errors.body %}
                                        <div class="invalid-feedback">
                                            {{ errors.body }}
                                        </div>
                                    {% endif %}
                                </div>
                                <button type="submit" class="btn btn-secondary"><i class="bx bx-send"></i> Envoyer
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Layout Demo -->
    <!-- / Content -->

    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <script>
      ClassicEditor
        .create(document.querySelector('#basic-icon-default-message'), {
          toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'codeBlock', 'blockQuote', 'undo', 'redo'],
          language: 'fr'
        })
        .catch(error => {
          console.error(error);
        });
    </script>
{% endblock %}
